#!/usr/bin/env bash

dotenv .env

if [ -f .env.dev ]; then
    dotenv .env.dev
fi

if [ -f .env.local ]; then
    dotenv .env.local
fi

dotenv .docker.env

if [ -f .docker.env.local ]; then
    dotenv .docker.env.local
fi
